.background{
  background-color:rgba(94, 92, 91 , 0.4);

}

.grid{

	text-align: center;
	border-radius: 20px;

}

.HeroText{
	color: white;
	opacity: 1;
	padding-top: 10px;
	padding-bottom: 10px;

}

.SocialLinks {
	color: white;
	font-size: 5em;
	padding: 8px;
  display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;

}
